{% extends "base.html" %}
{% block body %}
<div class="container">
  {% for post in post %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2> <a class="display-5" href="{% url 'post-detail' post.id %}">{{post.title}}</a></h2>
      <img src="{{post.author.profile.image.url}}" width="250" height="300" class="rounded-circle accounting mt-3">
      <p class="lead">{{post.author}}</p>
      <p class="lead">{{post.content}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}