{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

Change your password

{% endblock title %}

{% block body %}

<div class="container">

    <div class="content-section">

        <form method="POST">

            {% csrf_token %}

            <fieldset class='form-group mt-4'>

                <legend class='border-bottom mb-4'> Reset password<legend>

            </fieldset>

            {{form|crispy}}

            <div class="form-group">
                
                <button class="btn btn-outline-info" type='submit'>Change password</button>
            
            </div>
        
        </form>
        
    
    </div>

</div>
{% endblock body %}